* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

form {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

input,
textarea,
select {
  max-width: 25vh;
}
